<%= render 'partials/books/book_card', book: book, collection: collection %>

<%= simple_form_for book, method: :patch do |f| %>
  <%= f.input :book_type,
    label: 'Type',
    prompt: 'Choisissez un type..',
    collection: Book::TYPES,
    input_html: { data: { action:'change->new-book-form#toggle_illustrator' } }
  %>

  <div class="">
    <%= f.input :description, label: 'Description:', placeholder: '...', input_html: {class: 'mb-0 h-100'} %>
  </div>

  <div class='p-2'>
    <%= f.association :genres, as: :check_boxes, label: 'Genres:',
      input_html: {class: 'book-genre-input-button'},
      item_wrapper_class: 'genre-wrapper'
    %>
  </div>
  <%= f.submit 'Mettre à jour'%>
<% end %>

<%= simple_form_for [book, collection] do |f| %>
  <%= f.submit 'Ajouter à ma collection'%>
<% end %>
