<%# Stimulus controller pour cacher et révéler les infos des bouquins %>
<div class="row border-bottom p-2" data-controller="book-content" data-action="click->book-content#visible">
  <%# Partie visible par défaut, Stimulus target bookDefault %>
  <div class="row" data-book-content-target="bookDefault">
    <div class="col-4">
      <%# si le cover_url contient l'image | ajouté en dur dans les seeds %>
      <% if book.cover_url %>
        <%= cl_image_tag book.cover_url%>
      <%# si le cover_img active storage contient l'image | créé à travers l'action create du controller %>
      <% elsif book.cover_img %>
        <%= cl_image_tag book.cover_img.key %>
      <% end %>
    </div>
    <div class="col-8">
      <h3><%= book.title %></h3>
      <p><%= book.author %></p>
    </div>
  </div>
  <%# Partie cachée de la carte, Stimulus target bookInfos %>
  <div class="row d-none" data-book-content-target="bookInfos">
    <div class="col-6">
      <h3><%= book.title %></h3>
      <p><%= book.author %></p>
      <p><%= book.illustrator %></p>
      <p><%= book.release %></p>
    </div>
    <div class="col-6">
      <p><%= book.serie.name %></p>
      <p><%= book.serie_number %></p>
      <%= link_to 'Détails', book_path(book), class: 'btn btn-outline-warning' %>
    </div>
  </div>
</div>
