<div class="card-close book-card" data-book-content-target="bookDefault">
  <div class="book-little"><i class="fa-solid fa-book"></i></div>
  <div class="book-info">
    <h2 class="book-title"><%= book.title %></h2>
    <% if book.serie %>
      <p class="little-book-series">n°<%= book.serie_number %> - <%= book.serie.name %></p>
    <% end %>
    <% book.genres.each do |genre| %>
      <span class="badge big-badge"><%= genre.name %></span>
    <% end %>
  </div>
  <div class="little-book-actions">
    <%= link_to book_path(book) do %>
      <div class="btn btn-details" data-action="click->book-content#stop_bubbling"><i class="fa-solid fa-circle-info"></i></div>
    <% end %>
    <div class="btn btn-favorite" data-action="click->book-content#stop_bubbling"><i class="fa-regular fa-heart"></i></div>
    <div class="btn btn-read" data-action="click->book-content#stop_bubbling"><i class="fa-regular fa-bookmark"></i></div>
  </div>
</div>
