<div class="header-home">
  <div class="header-logo">
    <%= image_tag "BookBuddy_logo.svg", alt: "Logo BookBuddy", class: "book"%>
    <%= image_tag "BookBuddy.svg", alt: "BookBuddy", class:"text" %>
  </div>
</div>

<div class="home-card">
  <h4>Hello <strong><%= current_user.nickname %></strong>, bienvenue !</h4>
  <%# ___________searh___________ %>
  <%= link_to  do %>
    <div class="home-card-search">
      <div class="input-search">Rechercher un livre à ajouter...</div>
      <div class="search-button"><i class="fa-solid fa-magnifying-glass"></i></div>
      <div class="btn btn-codebar"><i class="fa-solid fa-barcode"></i></div>
    </div>
  <% end %>
  <%# ___________searh___________ %>
</div>

<div class="last-books">
  <h2>Derniers Ajouts</h2>
  <div class="last-books-cards">
    <% current_user.books.reverse.each do |book| %>
      <%= link_to book_path(book) do %>
        <%= render 'partials/books/book_card_portrait', book: book %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="last-books">
  <h2>Livres favoris</h2>
  <div class="last-books-cards">
    <% current_user.books.favorite_books('true', current_user).each do |book| %>
      <%= link_to book_path(book) do %>
        <%= render 'partials/books/book_card_portrait', book: book %>
      <% end %>
    <% end %>
  </div>
</div>
