<div class="show-book-cover">
  <%= link_to books_path do %>
    <div class="btn btn-back-show">
      <i class="fa-solid fa-arrow-left-long"></i>
    </div>
  <% end %>
  <% if @collection.is_read %>
    <div class="btn btn-read-show">
      <i class="fa-solid fa-book-open"></i>
    </div>
  <% else %>
    <div class="btn btn-not-read-show not-read">
      <i class="fa-solid fa-book-open"></i>
    </div>
  <% end %>

  <div class="btn btn-favorite-show">
    <% if @collection.is_favorited %>
      <%= link_to book_path(@book) do %>
        <i class="fa-solid fa-heart"></i>
      <% end %>
    <% else %>
      <%= link_to book_path(@book) do %>
        <i class="fa-regular fa-heart"></i>
      <% end %>
    <% end %>
  </div>

  <div class="background">
    <% if @book.cover_url %>
      <%= image_tag @book.cover_url, class: "show-image blur-image" %>
    <% elsif @book.cover_img.attached? %>
      <%= cl_image_tag @book.cover_img.key, class: "show-image blur-image" %>
    <% end %>
    <div class="overlay"></div>
  </div>
  <div class="show-book-image">
    <% if @book.cover_url %>
      <%= image_tag @book.cover_url, class: "show-image" %>
    <% elsif @book.cover_img.attached? %>
      <%= cl_image_tag @book.cover_img.key, class: "show-image" %>
    <% end %>
  </div>
</div>

<div class="container">
  <h2 class="card-title"><%= @book.title %></h2>

  <div class="row">
    <h5 class="col-9">Auteur : <%= @book.author %></h5>
    <div class="col-3">
      <span><%= @book.serie_number %>/<%= @book.serie.books_total %></span>
    </div>
  </div>

  <div class="row">
    <ul class="col-9">
      <% @book.genres.each do |genre| %>
        <li class="badge style-green"><%= genre.name %></li>
      <% end %>
    </ul>
    <% if @book.serie %>
      <p class="col-3"><%= link_to @book.serie.name, serie_path(@book.serie) %></p>
    <% end %>
  </div>

  <p>Date de sortie : <%= @book.release %></p>
  <hr class="short style-green" />

  <div class="book-description">
    <h6>Description</h6>
    <p><%= @book.description %></p>
  </div>

  <!-- Actions Section -->
  <div class="actions">
    <%= link_to '<button class="button size-sm style-danger">Supprimer</button>'.html_safe,
    book_collection_path(@book.collections),
    data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr?" } %>
  </div>

  <!-- Comment Section -->
  <div class="comment">
    <% if @collection.comment == "" %>
      <button class="button open-modal" data-modal-target=".my-modal">Ajouter un commentaire</button>
    <% else %>
      <div class="comment-title-button">
        <h6>Commentaire</h6>
        <button class="button open-modal" data-modal-target=".my-modal">Editer</button>
      </div>
      <p><%= @collection.comment %></p>
    <% end %>
  </div>
</div>

<!-- Modal for Comment Form -->
<div class="modal my-modal" tabindex="-1" aria-labelledby="my-modal-title">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="my-modal-title">Commentaire</h5>
      <button type="button" class="close-modal close-button" data-modal-target=".my-modal" aria-label="Close">&times;</button>
    </div>
    <div class="modal-body">
      <%= render 'partials/collections/collection_form', collection: Collection.find_by(book_id: @book.id) %>
    </div>
    <div class="modal-footer">
      <button class="button size-sm style-danger close-modal">Close</button>
    </div>
  </div>
</div>
