<div class="container">
  <div class="row">
    <% if @book.cover_url %>
      <%= cl_image_tag @book.cover_url, height:300 %>
    <% elsif @book.cover_img.attached? %>
      <%= cl_image_tag @book.cover_img.key, height: 300 %>
    <% end %>
  </div>
  <div class="row mt-4">
    <div class="col-9">

      <h2><%= @book.title %></h2>
    </div>
    <div class="col-3">
    <p><%= @book.release.year %></p>
    </div>
  </div>
  <div class="row">
    <p><%= @book.author %></p>
    <p><%= @book.illustrator %></p>
    <p>
      <%= link_to @book.serie.name, serie_path(@book.serie) %>
      <span><%= @book.serie_number %>/<%= @book.serie.books_total %></span>
    </p>
    <p><%= @book.description %></p>
    <p><%= @book.isbn %></p>

    <% if Collection.find_by(book_id: @book.id).comment %>
      <div class="comment">
        <p>
          <%= Collection.find_by(book_id: @book.id).comment %>
        </p>
        <button
          class="button open-modal"
          data-modal-target=".my-modal"
          >
          Editer le commentaire
        </button>
      </div>

    <% else %>
      <button class="button open-modal">Ajouter un commentaire</button>
    <% end %>

    <%# modal de l'update / add form du comment de la collection  %>
    <div class="modal my-modal" tabindex="-1" aria-labelledby="my-modal-title">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="my-modal-title">Commentaire</h5>
          <button type="button" class="close-modal close-button" data-modal-target=".my-modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render 'partials/collections/collection_form', collection: Collection.find_by(book_id: @book.id) %>
        </div>
        <div class="modal-footer">
          <button class="button size-sm style-danger close-modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
