<div class="title-card">
  <%= image_tag "BookBuddy_logo.svg", alt: "Logo BookBuddy", class: "book"%>
  <h2 class="card-title">Série :
    <br>
    <span class="card-serie-title"><%= @serie.name %></span>
  </h2>
</div>

<div class="container">
  <h6><%= @serie.status %></h6>
  <p> <%= @userBook[@serie.id] %> / <%= @serie.books_total %></p>
  <div>
    <% @serie.books.order(:serie_number).each do |book| %>
      <%= render 'partials/books/book_card', book: book, collection: Collection.find_by(book: book, user: current_user) %>
    <% end %>
  </div>
</div>
