<div class="container">
  <h1><%= @serie.name %></h1>
  <h6><%= @serie.status %></h6>
  <p> <%= @userBook[@serie.id] %> / <%= @serie.books_total %></p>
  <div>
    <% @serie.books.each do |book| %>
      <%= render 'partials/books/book_card', book: book, collection: Collection.find_by(book: book, user: current_user) %>
    <% end %>
  </div>


</div>
