<!DOCTYPE html>
<html>
  <head>
    <title>LibraryManager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximun-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link
      href="https://cdn.jsdelivr.net/npm/flatifycss/dist/css/flatify.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/flashes" %>
    <%# <div data-controller="manga-api-connect"> %>
      <%# <%= link_to "index serie", series_path%>
      <%# <%= link_to "index book", books_path%>
      <%= yield %>
      <% if user_signed_in? %>
        <%= render "shared/navbar" %>
      <% end %>
    <%# </div> %>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/flatifycss/dist/js/flatify.min.js" crossorigin="anonymous"></script>
</html>
